.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9vh 1.11vw;
    border-radius: 0.6vh;
    background-color: #142683;
    color: white;
}
.size-133-44{
    width: 9.236vw;
    height: 4.89vh;
}


.color-142683{
    background-color: #142683;
}

.color-1E272E{
    background: #1E272E;
}